[Desktop Entry]
Encoding=UTF-8
Name=Lftp
Comment=Sophisticated command line ftp/http client
Comment[ko]=¸íˇÉÁŮżĄź­ ľšžĆ°Ą´Â FTP/HTTP ĹŹśóŔĚžđĆŽ
Comment[pl]=Zaawansowany klient ftp/http
Comment[pt_BR]=Sofisticado programa de transferęncia de arquivos (cliente ftp/http)
Comment[zh_CN]=Lftp żÍť§śËłĚĐň
Exec=lftp
Icon=lftp.png
Terminal=true
Type=Application
Categories=ConsoleOnly;Network;FileTransfer;
# vi: encoding=utf-8
