[Desktop Entry]
Name=Lftp
Comment=Sophisticated command line ftp/http client
Comment[ko]=명령줄에서 돌아가는 FTP/HTTP 클라이언트
Comment[pl]=Zaawansowany klient ftp/http
Comment[pt_BR]=Sofisticado programa de transferência de arquivos (cliente ftp/http)
Comment[zh_CN]=Lftp 客户端程序
Exec=lftp
Icon=lftp
Terminal=true
Type=Application
Categories=ConsoleOnly;Network;FileTransfer;
# vi: encoding=utf-8
